@import '../Vars.scss';
@import '../Media.scss';

.categories__title {
  background: $back-ground-color;
  color: $letter-color;
  font-size: 18px;
  margin-top: -16px;
  position: absolute;
  padding-left: 30px;
  width: 100%;
}