@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

$theme-font: 'Muli', sans-serif;
$main-color: white;
$back-ground-color:#B7CEE0;
$secondary-color: #373E44;
$letter-color:  #373E44;
